.btn-container{
    position: relative;
}

.route {
    background: linear-gradient(to right, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
