<div class="container-fluid p-5">
  <div class="d-flex flex-column justify-content-center">
    <h2 class="text-center text-shadow">Personas registradas</h2>
  </div>
  <div class="d-flex justify-content-end">
    <button
      routerLink="new"
      class="btn rounded-circle p-3 shadow fixed-bottom-right"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        fill="white"
        class="bi bi-person-fill-add"
        viewBox="0 0 16 16"
      >
        <path
          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
        />
        <path
          d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"
        />
      </svg>
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th class="d-none d-lg-table-cell">R.U.T.</th>
        <th class="d-none d-lg-table-cell">Sexo</th>
        <th class="d-none d-lg-table-cell">Número de teléfono</th>
        <th class="d-none d-lg-table-cell">Dirección</th>
        <th class="d-none d-lg-table-cell">Fecha de nacimiento</th>
        <th class="d-none d-lg-table-cell">Correo electrónico</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      @defer (on immediate) {
        @for(person of persons; track person.id){
          <tr class="text-center align-middle">
            <td>{{ person.id }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td class="d-none d-lg-table-cell">{{ person.dni }}</td>
            <td class="d-none d-lg-table-cell">{{ getSexName(person.sex_id) }}</td>
            <td class="d-none d-lg-table-cell">{{ person.phone_number }}</td>
            <td class="d-none d-lg-table-cell">{{ person.address }}</td>
            <td class="d-none d-lg-table-cell">
              {{ person.birth_date | date : "dd MMM yyyy" }}
            </td>
            <td class="d-none d-lg-table-cell">{{ person.email }}</td>
            <td>
              <div class="btn-group">
                <button
                  [routerLink]="['edit', person.id]"
                  class="btn btn-edit shadow w-50 text-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#333"
                    class="bi bi-pencil-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                    />
                  </svg>
                </button>
                <button
                  (click)="confirmBox(person.id)"
                  class="btn btn-remove shadow w-50 text-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#333"
                    class="bi bi-trash-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
                    />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          }
      } @placeholder {
        <h4 class="text-center">Cargando...</h4>
        <div class="spinner-border text-info m-5" role="status">
        </div>
      } @loading (minimum 100ms) {
        <h4 class="text-center">Cargando...</h4>
        <div class="spinner-border text-info m-5" role="status">
        </div>
      } @error {
        <p>Algo salió mal, intente más tarde</p>
      }

    </tbody>
  </table>
</div>
