<form [formGroup]="form" (ngSubmit)="alertWithSuccess()" class="p-5 rounded">
  <h2 class="text-center text-shadow mb-5">{{ title }} persona</h2>
  <div class="input-group input-group-sm mb-3">
    <label for="first_name" class="input-group-text">Nombre</label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      placeholder="John"
      formControlName="first_name"
      class="form-control {{ inputValidator('first_name') }}"
      (input)="inputValidator('first_name')"
      minlength="3"
      maxlength="50"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="last_name" class="input-group-text">Apellido</label>
    <input
      type="text"
      name="last_name"
      id="last_name"
      placeholder="Doe"
      formControlName="last_name"
      class="form-control {{ inputValidator('last_name') }}"
      (input)="inputValidator('last_name')"
      minlength="3"
      maxlength="50"
    />
  </div>

  <div class="input-group input-group-sm mb-3">
    <label for="dni" class="input-group-text">R.U.T.</label>
    <input
      type="text"
      name="dni"
      id="dni"
      placeholder="10910510K"
      formControlName="dni"
      class="form-control {{ dniValidator('dni') }}"
      (input)="dniValidator('dni')"
      minlength="8"
      maxlength="9"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="sex_id" class="input-group-text">Sexo</label>
    <select
      name="sex_id"
      id="sex_id"
      formControlName="sex_id"
      class="form-select form-select-sm"
    >
      <option value="" disabled class="form-control">Seleccione el sexo</option>
      @for(sex of sexes; track sex.id){
      <option [value]="sex.id" class="form-control">{{ sex.name }}</option>
      }
    </select>
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="phone_number" class="input-group-text"
      >Número de teléfono</label
    >
    <input
    type="tel"
    name="phone_number"
    id="phone_number"
    placeholder="933114422"
    formControlName="phone_number"
    class="form-control {{ inputValidator('phone_number') }}"
    (input)="inputValidator('phone_number')"
    inputmode="numeric"
    pattern="[0-9]*"
    minlength="9"
    maxlength="9"
    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
  />
  
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="address" class="input-group-text">Dirección</label>
    <input
      type="text"
      name="address"
      id="address"
      placeholder="Calle Falsa 123"
      formControlName="address"
      class="form-control {{ inputValidator('address') }}"
      (input)="inputValidator('address')"
      minlength="3"
      maxlength="100"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="birth_date" class="input-group-text">Fecha de nacimiento</label>
    <input
      type="date"
      name="birth_date"
      id="birth_date"
      formControlName="birth_date"
      class="form-control {{ inputValidator('birth_date') }}"
      (input)="inputValidator('birth_date')"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label for="email" class="input-group-text">Correo electrónico</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="correo@dominio.com"
      formControlName="email"
      class="form-control {{ inputValidator('email') }}"
      (input)="inputValidator('email')"
    />
  </div>

  <div class="btn-group d-flex justify-content-center mt-5">
    <button
      routerLink="/"
      type="button"
      class="btn btn-outline-secondary w-100 mb-2 mb-sm-0"
    >
      Cancelar
    </button>
    @if(form.valid){
    <button class="btn btn-success w-100 mb-2 mb-sm-0">{{ btnTitle }}</button>

    } @else {
    <button class="btn btn-success w-100 mb-2 mb-sm-0" disabled>
      {{ btnTitle }}
    </button>
    }
  </div>
</form>
